
@{
    ViewBag.Title = "newCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <br />
    <h3>Add New Category</h3>
    <br />
    <label>Category Name</label>
    <div style="margin-bottom: 15px">
        <input type="text" class="form-control" name="NAME" />
    </div>
    <div style="margin-bottom: 15px">
        <button class="btn btn-success">Save</button>
    </div>
</form>