
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>ASP.NET MVC5 Stock Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ASP.NET MVC5 Stock</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Product/Index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Customer/Index">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Employe/Index">Employes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Sale/Index">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/LoginPanel">Out</a>
                    </li>
                    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle show" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Dropdown link
            </a>
            <ul class="dropdown-menu show" data-bs-popper="static">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <!-- End Example Code -->
</body>
</html>
