@model ASP.NET_MVC5_Stock_Example.Models.Entity.ADMIN
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top:15px">
    Add New Admin
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Admin Panel</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Admin/newAdmin">
                    <div class="modal-body">
                        <label>
                            User Name
                        </label>
                        @Html.TextBoxFor(m => m.USER, new { @class = "form-control" })
                        <br />
                        <label>
                            Password
                        </label>
                        @Html.TextBoxFor(m => m.PASSWORD, new { @class = "form-control" })
                        <br />
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



